---
import SanitizedNode from "./StrapiBlockNode.astro";
import type {
    StrapiBlockListItem,
    StrapiBlockNode,
    StrapiBlockTheme
} from "../../../types";
import { sanitizeStrapiNodeData, StrapiBlockThemeDefault } from "../../../lib";

type Props = {
    class?: string;
    data: Array<StrapiBlockNode>;
    theme: StrapiBlockTheme;
};

const { data, class: classes = '', theme = StrapiBlockThemeDefault } = Astro.props;

const sanitizedData = sanitizeStrapiNodeData(data);
---

{
    sanitizedData.length && (
        <li class={classes}>
            <SanitizedNode data={sanitizedData} theme={theme.paragraph} />
        </li>
    )
}
