---
import { renderPropertyClasses, sanitizeStrapiNodeData, StrapiBlockThemeDefault } from '../../lib';
import type { StrapiBlockNode, StrapiBlockTextItem, StrapiBlockTheme } from '../../types';

type Props = {
    class?: string;
    language: string;
    data: Array<StrapiBlockNode>;
    theme: StrapiBlockTheme;
}

const { data, class: classes = '', language, theme = StrapiBlockThemeDefault } = Astro.props;
const languageAllowed = true;//language && (language !== 'plaintext');

const sanitizedData = sanitizeStrapiNodeData(data);

---
{ sanitizedData.length && (<div class={classes}>
    { languageAllowed && (<div class={renderPropertyClasses(theme, ['code', 'language'])}><strong>{language.charAt(0).toUpperCase() + language.slice(1)}</strong></div>) }
    <pre>{sanitizedData.map((item) => (item as StrapiBlockTextItem).text).join('\n')}</pre>
</div>)}