---
import SanitizedNode from './items/StrapiBlockNode.astro';
import { sanitizeStrapiNodeData, StrapiBlockThemeDefault } from '../../lib';
import type { StrapiBlockNode, StrapiBlockParagraph, StrapiBlockTheme } from '../../types';

type Props<FontColors extends string> = {
    class?: string;
    color?: FontColors;
    data: Array<StrapiBlockNode>;
    theme: StrapiBlockTheme;
}

const { data, class: classes = '', theme = StrapiBlockThemeDefault } = Astro.props;

const sanitizedData = sanitizeStrapiNodeData(data);

---
<p class={classes}>
    { (sanitizedData.length === 0) && (<br />) }
    { (sanitizedData.length > 0) && (<SanitizedNode data={sanitizedData} theme={theme.paragraph}/>) }
</p>